/* Custom fonts */
@font-face {
  font-family: "Helvetica Bold";
  src: url("/public/assets/fonts/helveticaBold/Helvetica-Bold-Font.ttf");
}

@font-face {
  font-family: "Hind Regular";
  src: url("/public/assets/fonts/Hind/Hind-Regular.ttf");
}



/* ------------------- CSS for About's Page ----------------------------*/


.container__text__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:0 auto;
  justify-content: center;
  margin-bottom: auto;
  /* set container text to the center of the page */
}



.container__text__about__title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: #6C6B6B;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 24px;
  text-align: justify;
  font-family: "Hind Regular";
  width: 630px;

}

.container__text__about__description {
margin-left:auto;
margin-right:auto;
font-style: normal;
width: 630px;
font-weight: 300;
font-size: 17px;
text-align: justify;
margin-top: 100px;
margin-bottom: 70px;
font-family: "Hind Regular";
}

.container__text__about__description_paragraph {
  width: 630px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Hind Regular";
}


/* Media Query for Mobile */
@media only screen and (max-width: 768px) {
  .container__about {
    margin-top: 40px;
  }

  .container__text__about__description {
    width: 355px;
  }

  .container__text__about__title{
    font-size: 15px;
  }

  .container__text__about__description {
margin-top: 60px;
margin-bottom: 70px;
font-size: 15px;
  }

}

/* Media Query for Tablet */
@media only screen and (min-width: 768px) and (max-width:1023px) {
  .container__about{
    margin-top: 60px;
    width: 70%;
    margin-left: 14%;
    margin-right: auto;
  }

  .container__text__about__title{
    font-size: 20px;
    margin-top: 200px;
  }

  .container__text__about__description{
    width: 100%;
    margin-bottom: 80px;
  }

}

/* Media Query for some Notebooks */
@media only screen and (min-width: 1024px) and (max-width:1300px) {
  .container__text__about__description {
    margin-top: 60px;
  }
}