@font-face {
  font-family: 'Helvetica Bold';
  src: url('https://res.cloudinary.com/dyorbs4xf/raw/upload/v1708822308/fonts/helveticaBold/psshigai8vqp253vimqf.ttf');
  font-weight: bold;
  font-style:normal;
}

@font-face {
  font-family: 'Hind Regular';
  src: url('https://res.cloudinary.com/dyorbs4xf/raw/upload/v1708822308/fonts/Hind/q2txkwkwp1nbyqzjraa9.ttf');
  font-weight: normal;
  font-style:normal;
} 

/* ------------------- CSS for Contact's Page ----------------------------*/


.container__text__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:0 auto;
  justify-content: center;
  margin-bottom: auto;
  height: 70vh;
  /* set container text to the center of the page */
}


.container__text__contact__title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: #6C6B6B;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 24px;
  text-align: justify;
  font-family: "Hind Regular";
  width: 630px;

}

.container__text__contact__description {
margin-left:auto;
margin-right:auto;
font-style: normal;
width: 630px;
font-weight: 300;
font-size: 17px;
line-height: 20px;
text-align: justify;
margin-top: 100px;
margin-bottom: 70px;
font-family: "Hind Regular";
}
/* Css for Contacto's Icons */

.mailIcon {
  color: var(--white);
  width: 70.67px;
  height: 53px;
}

.mailIcon:hover  {
  opacity: 0.5;
}

.whatsAppIcon {
  color: var(--white);
  width: 52.58px;
  height: 52.83px;
  margin-right: 35px;
  padding-top: 3px;
}

.whatsAppIcon:hover {
  opacity: 0.5;
}

.instagramIcon {
  color: var(--white);
  width: 48.58px;
  height: 46.83px;
  margin-left: 35px;
}

.instagramIcon:hover {
  opacity: 0.5;
}

.container__text__icons {
margin-left: auto;
margin-right: auto;
height: 70px;
display: flex;
flex-direction: row;
align-items: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

}


/* Media Query for Mobile */
@media only screen and (max-width: 768px) {
  .container__contact {
    margin-top: 20px;
  }

  .container__text__contact {
    justify-content: flex-start;
  }

  .container__text__contact__title{
    font-size: 15px;
    width: 90%;
    margin-top: 60px;
  }

  .container__text__contact__description {
margin-top: 60px;
margin-bottom: 70px;
font-size: 15px;
width: 90%;
  }

  .mailIcon {
    color: var(--white);
    width: 55.67px;
    height: 38px;
  }
  
  .whatsAppIcon {
    color: var(--white);
    width: 35.58px;
    height: 35.83px;
    margin-right: 30px;
  }

  .instagramIcon {
    color: var(--white);
    width: 31.58px;
    height: 31.83px;
    margin-left: 30px;
  }


}

/* Media Query for Tablet */
@media only screen and (min-width: 768px) and (max-width:1023px) {
  .container__contact {
    margin-top: 30px;
    width: 70%;
    margin-left: 14%;
    margin-right: auto;
  }

  .container__text__contact {
    justify-content: flex-start;
    height: 50vh;
  }

  .container__text__contact__title{
    font-size: 20px;
    margin-top: 50px;
    width: 60%;
  }

  .container__text__contact__description{
    width: 60%;
    margin-bottom: 40px;
    margin-top: 50px;
  }


  .mailIcon {
    color: var(--white);
    width: 66.67px;
    height: 49px;
  }
  
  .whatsAppIcon {
    color: var(--white);
    width: 50.58px;
    height: 50.83px;
    margin-right: 35px;
  }

}

/* Media Query for some Notebooks */
@media only screen and (min-width: 1024px) and (max-width:1300px) {
  .container__text__contact__description {
    margin-top: 30px;
  }
}