
@font-face {
  font-family: "Helvetica Bold";
  src: url("../../../public/assets/fonts/helveticaBold/Helvetica-Bold-Font.ttf");
}

/* ------------------- CSS for Contact's Page ----------------------------*/

.container__portfolio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container__title {
  margin-left: 120px;
  margin-right: auto;
  margin-top: 150px;

}

.section__title {
  font-family: 'Helvetica Bold';
  font-weight: 500;
  font-size: 30px;
  line-height: 56px;
  text-align: right;  
  color: #6C6B6B;
  opacity: 0.5;
  } 