
@font-face {
  font-family: "Helvetica Bold";
  src: url("https://res.cloudinary.com/dyorbs4xf/raw/upload/v1708822308/fonts/helveticaBold/psshigai8vqp253vimqf.ttf");
  font-weight: bold;
  font-style:normal;
}

@font-face {
  font-family: 'Hind Regular';
  src: url('https://res.cloudinary.com/dyorbs4xf/raw/upload/v1708822308/fonts/Hind/q2txkwkwp1nbyqzjraa9.ttf');
  font-weight: normal;
  font-style:normal;
} 

/* ------------------- CSS for Contact's Page ----------------------------*/


.container__projects {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.container__listProjects {
  width: 20%;

}

.container__proyect__description {
  display: flex;
  flex-direction: column;

}


.verticalLine {
  border-left: 3px solid #6C6B6B;
  /* calculate the height of the container_main  */
  margin-left: 10px;
  margin-right: 10px;
}


.pointer {
  content: "";
  position: absolute;
  margin-left: -12px;
  width: 20px; /* Adjust the width of the point */
  height: 20px; /* Adjust the height of the point */
  background-color: #6C6B6B; /* Adjust the color of the point */
  border-radius: 50%;
  opacity: 0;
  animation: pointer 1s ease 2s forwards; /* Activate the keyframe */
}
/* Add a keyframe to activate the pointer display after 5 seconds */
@keyframes pointer {
  0% {
    opacity: 0;
  }
  100% {
   opacity: 1;
  }
}


.container__projects__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}


/* CSS for Loader */

.container_hashLoader {
  position: absolute;
  top: 30%;
  left: 50%;
}



.project_button {
  background-color: transparent;
  cursor: pointer;
  
}

.project_button h3 {
  font-family: "Hind Regular";
  font-size: 17px;
  color: #6C6B6B;
  opacity: 0.5;
  text-align: left;
}

.project_title {
  font-family: "Helvetica Bold";
  font-size: 20px;
  text-align: left;
  opacity: 0.5;
  margin-bottom: 10px;
}

.project_shortDescription {
  font-family: "Hind Regular";
  font-size: 16px;
  text-align: justify;
}

.project {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  margin-bottom: 15%;
}

/* Medias queries for Mobile View */
 
@media screen and (width < 768px) {

  .container__projects__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 53vh;
    gap: 20px;
  }

  .container__projects {
    width: 90%;
    margin: 0 auto;
  }

  
  .container__proyect__description {
    width: 100%;
  }

  .verticalLine {
    border-left: 3px solid #6C6B6B;
    /* calculate the height of the parent container  */
    max-height: max-content;

  }

.pointer {
  content: "";
  position: absolute;
  margin-left: -6.5px;
  width: 10px; /* Adjust the width of the point */
  height: 10px; /* Adjust the height of the point */
  background-color: #6C6B6B; /* Adjust the color of the point */
  border-radius: 50%;
}
  

}

