/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Importting Helvetica Neue Family Font */
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --foreground-rgb: #e6e5e4;
  --background-start-rgb: #e6e5e4;
  --background-end-rgb: #e6e5e4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: #e6e5e4;
    --background-end-rgb: #e6e5e4;
  }
}

html {
  scroll-behavior: smooth;
  background-color: #e6e5e4;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1,
h2,
h3,
h4,
p,
a,
small {
  color: #6c6b6b;
}

.disabled {
  display: none !important;
  /* add smooth effect transition exit with keyframes */
  /* transition: all 1.5s ease; */
  /* animation: exit 2s ease-in-out; */
  animation: exit 2s ease-out forwards;
  opacity: 0; /* Becomes transparent */
}

@keyframes exit {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.5;
    transform: translateY(10px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.enabled {
  display: flex !important;
  /* add smooth effect transition appearance */
  transition: all 0.5s ease;
  animation: entrance 1s ease-in-out;
}

@keyframes entrance {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
  

