@font-face {
  font-family: "Helvetica Bold";
  src: url("https://res.cloudinary.com/dyorbs4xf/raw/upload/v1708822308/fonts/helveticaBold/psshigai8vqp253vimqf.ttf");
  font-weight: bold;
  font-style:normal;
}

@font-face {
  font-family: "Hind Regular";
  src: url("https://res.cloudinary.com/dyorbs4xf/raw/upload/v1708822309/fonts/Hind/j30z1c9whbj0btnj2glf.txt");
}


.mainBackground {
  background-position: center;
  object-fit: cover; 
  width: 100vw;
  height:85vh;
}



/* ------------------- CSS for Main containers  ----------------------------*/

.container__main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container__main__title {
  margin-left: 120px;
  margin-right: auto;
  margin-top: 150px;
}

.section__title {
  font-family: 'Helvetica Bold';
  font-weight: 500;
  font-size: 30px;
  line-height: 56px;
  text-align: right;  
  color: #6C6B6B;
  opacity: 0.5;
  } 
