@font-face {
  font-family: "Helvetica Bold";
  src: url("https://res.cloudinary.com/dyorbs4xf/raw/upload/v1708822308/fonts/helveticaBold/psshigai8vqp253vimqf.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Hind Regular";
  src: url("https://res.cloudinary.com/dyorbs4xf/raw/upload/v1708822309/fonts/Hind/j30z1c9whbj0btnj2glf.txt");
}

.mainBackground {
  background-image: url(../../public/assets/home/Cropeada\ desktop\ 2000x1400.jpg);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* ------------------- CSS for Main containers  ----------------------------*/

.container__main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color:#e6e5e4;
}

.container__main__title {
  margin-left: 120px;
  margin-right: auto;
  margin-top: 150px;
}

.section__title {
  font-family: "Helvetica Bold";
  font-weight: 500;
  font-size: 30px;
  line-height: 56px;
  text-align: right;
  color: #6c6b6b;
  opacity: 0.5;
}

/* Media queries for Mobile */
@media screen and (width < 768px) {
  .mainBackground {
    background-image: url(../../public/assets/home/Cropeada\ mobile\ \ 720×1280.jpg);
    background-position: center;
    background-size: cover;
    /*     width: 100vw; */
    height: 100%;
  }

  .section__title {
    font-size: 20px;
  }

  .container__main__title {
    margin-left: 20px;
    margin-right: auto;
    margin-top: 12rem;
  }

  .container__main {
    width: 100%;
  }
}

/* Media queries for Tablet View */
@media screen and (768px <= width < 1024px) {
  .mainBackground {
    background-image: url(../../public/assets/home/Cropeada\ Tablet\ 1023x728.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100%;

  }

  .container__main__title {
    margin-left: 20px;
    margin-right: auto;
    margin-top: 10rem;
  }


}
