/* Css for Navbar  */

.nav {
  position: fixed;
  top: 0;
  right: 0;
  /* bottom:0; */
  width: 300px;
  height: 100vh;
  z-index: 100;
  box-shadow: 21px 2px 48px -1px rgba(0, 0, 0,0.09); 
  /* add transparency 100% */
  background-color: rgba(255, 255, 255, 0.9);
}

.innerNav {
  position: absolute;
  top: 10rem;
  bottom: 0; 
  width: 100%;
  /* background-color: var(--primary-color); */
  border-radius: 1%;
  /* set background shadow */
  /* box-shadow: 21px 2px 48px -1px rgba(0, 0, 0,0.09); */
}

button.toggle {

  background-color: var(--primary-color); 
  color: #F0F0F0;
  z-index: 101;
  position: fixed;
  outline: 0;
  border: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  top: 4rem;
  right: 35px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

nav .innerNav ul {
  padding: 0;
  position: relative;
 /*  top: 100px; */
  margin: 0;
 /*  border-top: 1px solid rgba(0, 0, 0,0.2); */
}

nav .innerNav ul li {
  list-style: none;
  cursor: pointer;
  line-height: 3;
  padding: 0 25px;
  /* border-bottom: 1px solid rgba(0, 0, 0,0.2); */
}

nav .innerNav li a {
  font-size: 30px;
  font-weight: bold;
  color: #6C6B6B;
  text-decoration: none;
 /*  transition: 1s all ease-in-out; */
  font-family: 'Helvetica Neue', sans-serif;
}


nav .innerNav li a:hover {
  color: #459E2E;
}


/* CSS for mobile devices */
@media only screen and (max-width:768px){
  .nav {
    width: 150px;   
  }
  button.toggle {
    right: 1px;
    top: 105px;
  }

  .innerNav {
    height: 85vh;
  }

}

/* Media Query for Tablet */

@media only screen and (min-width: 767px) and (max-width: 1023px){


button.toggle {
  display: block;
  right: 2%;
  top: 165px;
} 

}