@font-face {
  font-family: "Helvetica Bold";
  src: url("https://res.cloudinary.com/dyorbs4xf/raw/upload/v1708822308/fonts/helveticaBold/psshigai8vqp253vimqf.ttf");
  font-weight: bold;
  font-style: normal;
}

/* ------------------- CSS for Navbar ----------------------------*/

.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  box-shadow: 21px 2px 48px -1px rgba(0, 0, 0, 0.09);
  /* add transparency % */
  background-color: rgba(255, 255, 255, 0.2);
  /* add blur effect */
  backdrop-filter: blur(10px);
 
}

.innerNav {
  position: absolute;
  top: 10rem;
  bottom: 0;
  width: 100%;
  text-align: end;
  overflow-y: auto;
  border-radius: 1%;
}

button.toggle {
  background-color: #f5f5f5;
  color: #f5f5f5;
  z-index: 101;
  position: fixed;
  outline: 0;
  border-radius: 50%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  top: 4rem;
  right: 35px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}

button.toggle:hover {
  opacity: 0.5;
}

.closeIcon {
  color: #6c6b6b;
}

.homeTitle {
  font-size: 35px;
  font-family: "Helvetica Bold";
}

nav .innerNav ul {
  padding: 0;
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

nav .innerNav ul li {
  list-style: none;
  cursor: pointer;
  line-height: 1.8;
  padding-right: 150px;
}

nav .innerNav li a {
  font-size: 40px;
  font-family: "Helvetica Bold";
  color: #6c6b6b;
  /* opacity: 0.5; */
  text-decoration: none;
}

nav .innerNav li a:hover {
  opacity: 0.3;
  /* Add transition effect  */
  transition: all 0.3s ease-in-out;
}

.linkTitles {
  font-size: 70px;
  font-family: "Helvetica Bold";
}

.submenu {
  display: none !important;
}

.submenu li {
  height: 60px;
}

.submenu li p {
  text-align: end;
}

.submenu_title {
  font-size: 35px;
  font-family: "Helvetica Bold";
}

.submenu_li {
  padding-right: 30px !important;
}

.aboutTitle:hover .submenu {
  display: block !important;
  /* Add transition effect to appear smoothly */
  transition: all 1s ease-in-out;
  /* add animation */
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* CSS for mobile devices */
@media only screen and (max-width: 768px) {
  button.toggle {
    right: 1px;
    top: 105px;
  }

  .innerNav {
    height: 85vh;
  }

  button.toggle {
    z-index: 101;
    position: fixed;
    outline: 0;
    border-radius: 50%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    top: 5rem;
    right: 20px;
    width: 50px;
    height: 50px;
  }

  .homeTitle {
    font-size: 20px;
  }

  nav .innerNav li a {
    font-size: 20px;
  }

  .linkTitles {
    font-size: 40px;
  }

  .submenu_title {
    font-size: 20px;

  }

  nav .innerNav {
    margin-top: 4rem;
  }

  nav .innerNav ul li {
    padding-right: 25px;
    padding-top: 5px;
  }

  nav .innerNav ul {
    margin-top: 1rem;
  }

  .submenu li {
    height: 50px;
  }


}

/* Media Query for Tablet */

@media only screen and (min-width: 767px) and (max-width: 1023px) {
  button.toggle {
    display: block;
    right: 2%;
    top: 100px;
  }

  nav .innerNav {
    margin-top: 4rem;
  }

  nav .innerNav ul li {
    padding-right: 20px;
   /*  padding-top: 5px; */
  }

}

