@font-face {
  font-family: "Helvetica Bold";
  src: url("https://res.cloudinary.com/dyorbs4xf/raw/upload/v1708822308/fonts/helveticaBold/psshigai8vqp253vimqf.ttf");
  font-weight: bold;
  font-style:normal;
}

@font-face {
  font-family: 'Hind Regular';
  src: url('https://res.cloudinary.com/dyorbs4xf/raw/upload/v1708822308/fonts/Hind/q2txkwkwp1nbyqzjraa9.ttf');
  font-weight: normal;
  font-style:normal;
} 

/* ------------------- CSS for Contact's Page ----------------------------*/


.container__text__services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: auto;
  /* set container text to the center of the page */
}

.container__listServices {
  display: flex;
  flex-direction: row;
  width: 60%;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: auto;
  gap: 30px;
  margin-top: 50px;
}

.container__service {
  display: flex;
}

.service_title {
  font-family: 'Helvetica Bold';
  color: #acacac;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.service_description {
  color: #6C6B6B;
  text-align: justify;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Hind Regular';
}

.verticalLine {
  border-left: 3px solid #6C6B6B;
  /* calculate the height of the container_main  */
  margin-left: 10px;
  margin-right: 5%;
}

.service__item {
  margin-top: 10%;
  /* margin-bottom: 50px; */
}

/* Media query for Mobile  */
@media screen and (width < 768px) {
  .container__listServices {
    width: 90%;
  }

  .service_title {
    font-size: 17px;
  }
}

