@font-face {
  font-family: "Helvetica Bold";
  src: url("../../../public/assets/fonts/helveticaBold/Helvetica-Bold-Font.ttf");
}

@font-face {
  font-family: "Hind Regular";
  src: url("../../../public/assets/fonts/Hind/Hind-Regular.ttf");
}

/* ------------------- CSS for Contact's Page ----------------------------*/


.container__text__services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: auto;
  /* set container text to the center of the page */
}

.container__listServices {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: auto;
  gap: 30px;
}

.service_title {
  font-family: 'Helvetica Regular';
  color: #6C6B6B;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.service_description {
  color: #6C6B6B;
  text-align: justify;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Hind Regular';
}