@font-face {
  font-family: "Helvetica Regular";
  src: url("../../../public/assets/fonts/helveticaRegular/helveticaRegular.otf");
}

/* ------------------- CSS for Navbar ----------------------------*/

.container {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;

}

.containerText {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
  margin-right: 10%;
  margin-bottom: 20px;
}

.textAllRightsReserved {
  font-family: "Helvetica Regular";
  font-size: 15px;
  color: #6C6B6B;
  text-decoration: none;
}

.textName {
  font-family: "Helvetica Regular";
  font-size: 17px;
  color: #6C6B6B;
  text-decoration: none;
}
