@font-face {
  font-family: "Helvetica Regular";
  src: url("../../../public/assets/fonts/helveticaRegular/helveticaRegular.otf");
}

/* ------------------- CSS for Navbar ----------------------------*/

.container {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background-color: transparent;
}

.containerText {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
  margin-right: 10%;
  margin-bottom: 20px;
  opacity: 0;
  animation: appears 1s ease 1.5s forwards; /* Activate the keyframe */
}

/* Add a keyframe to activate the pointer display after 5 seconds */
@keyframes appears {
0% {
  opacity: 0;
}
100% {
 opacity: 1;
}
}

.textAllRightsReserved {
  font-family: "Helvetica Regular";
  font-size: 15px;
  color: #6C6B6B;
  text-decoration: none;
}

.textName {
  font-family: "Helvetica Regular";
  font-size: 17px;
  color: #6C6B6B;
  text-decoration: none;
}

/* Media query  */
@media screen and (width < 768px) {
 
  .containerText {
   
    justify-content:center;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  .textAllRightsReserved {
    font-size: 8px;
    padding-top: 2px;
  }

  .textName {
    font-size: 10px;
  }

  .container {
    height: 70px;
  }

} 

/* Media queries for Tablet View */
@media screen and (768px < width < 1025px) {
  .containerText {
    margin-right: 15%;
  }
}